html, body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
/* #e4bb7a - zoltawy */
/* #262626 - ciemny */
/* #3f3f3f - ciemny2 */
/* #1a1a1a - mocnyCiemny */
/* #e2e2e2 - bialawy */
/* #cccccc - ciemnyszary */

.container {
    width: 1000px;
    margin:auto;
    position: relative;
}
.topBarInfo {
    background-color: #d7d7d7;
    width: 100%;
}
.topBarText {
    margin:0;
    font-size: 12px;
    padding: 5px 0px;
}
.topImgBar {
    position: absolute;
    margin: auto;
    top: 0;
    left: 93%;
    right: 0;
    bottom: 0;
}
nav {
    width: 100%;
    height: 59px;
    background-color: #262626;
}
.logo {
    padding: 10px 0px;
    float:left;
}
.menuLogo {
    color:white;
    float:right;
    font-size: 14px;
    list-style: none;
    line-height: 59px;
}
.menuLogo li {
    display: inline-block;
    margin-left: 20px;
}
.menuLogo li:hover {
    cursor: pointer;
    transition: 1s;
    color:#e4bb7a;
}
.menuIcon div {
    width: 15px;
    margin-top: 2;
    height: 2px;
    background-color: white;
}
.main {
    width: 100%;
    height: 600px;
    background-color: #3f3f3f;
}
.h-main {
    height: 600px;
}
.restaurantInfo {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
}
.restaurantAdres {
    font-size: 12px;
    margin:0;
}
.restaurantSteakText {
    font-size: 50px;
    margin:0;
}
.arrow {
 margin:20px;   
}
.btnMenu {
    background-color: #e4bb7a;
    padding: 15px 50px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline:none;
}
.btnMenu:hover {
    cursor: pointer;
}
.ring {
    position: relative;
    top:155px;
}
.stickySize {
    width: 100%;
    height: 130px;
}
.stickyMenu {
    position: absolute;
    left:50%;
    transform: translate(-50%);
    text-align: center;
}
.lgText {
    margin: 20px;
}
.sticky {
   list-style: none;
}
.sticky li {
    margin-right: 40px;
    display: inline-block;
}
.sticky li:hover {
    transition: 1s;
    color:#e4bb7a;
    cursor: pointer;
}
.sdr {
    height: 500px;
    background-color: #3f3f3f;
    width: 100%;
}
.sdr-size {
    height: 500px;
}
.sdr-ic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sdr-left {
    left:-10%;
}
.sdr-right {
    right: -10%;
}
.sdr-content {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
.sdr-content-text {
    color:white;
    line-height: 25px;
}
.sdr-dt-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5%;
    left:50%;
    transform: translateX(-50%);
}
.sdr-dt-container div {
    border: solid 2px white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 15px;
}
.sdr-dt-container div:hover {
    background-color: #e4bb7a;
    border: solid 2px #e4bb7a;
    cursor: pointer;
}
aside {
    height: 100px;
    width: 100%;
}
.as-h {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.as-img {
    width: 160px;
    height: 25px;
}
.sl-container {
    width: 100%;
    height: 600px;
    background-color: #e2e2e2;
}
.sl {
    height: 600px;
}
.sl-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items:center;
    position: absolute;
    left:50%;
    top:5%;
    transform: translateX(-50%);
}
.sl-list-el {
   margin: 0px 20px;
    position: relative;
}
.sl-list-el:hover:after {
    cursor: pointer;
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 15px;
    width: 100%;
    border-bottom: 5px solid #e4bb7a;
    margin-top: 5px;
}
.sl-center {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.sl-content {
    width: 650px;
    height: 350px;
    background-color: white;
}
.sl-content-is {
    width: 630px;
    height: 330px;
    border:solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sl-content-text {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 5px;
    margin:0;
}
.sl-content-p {
    width: 80%;
    margin:0;
}
.sl-btn {
    padding: 10px 45px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border: solid 1px black;
    outline:none;
    background-color: white;
    margin-top: 40px;
}
.scroller {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 5%;
}
.sl-social {
    position: absolute;
    top:50%;
    left:-15%;
    transform: translateY(-50%);
}