body, ul {
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}
body {
    background-color: lightgrey;
}
.container {
    margin:auto;
    width: 1000px;
    height: 1500px;
}
nav {
    width: 1000px;
    position: fixed;
    top:0;
    background-color: white;
    z-index: 100;
   
}
nav ul {
    list-style: none;
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
}
nav ul li {
    display: inline-block;
    text-align: center;
    width: 100px;
}

nav ul li:hover {
    cursor: pointer;
    opacity:0.8;
}

.language {
    background-color: grey;
    width: 120px;
    float: right;
    color:white;
}
.language .languageItem {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    width: 40px;
    float: left;
    text-align: center;
}
.languageItem:hover {
    cursor: pointer;
    text-decoration: underline;
}
.navigationMenuBio {
    color:dimgrey;
}
.navigationMenuContact {
    color:#a8bd33;
}
.navigationMenuAbout {
    color: #61aed4;
}
ul li b {
    color:black;
}
.logo {
    margin-top: 10px;
    width: 573px;
    height: 98px;
    float: left;
    background-image: url('img/newLogo.png');
    background-repeat: no-repeat;
    background-position: -50px -30px;
    background-size: 692px 160px;
}
.hrefsLinks {
    display: block;
    float:left;
    height: 100%;
    width: 32%;
}
.clearner {
    clear: both;
}
.scrollOpacity {
    opacity: 0.9;
}

header {
   width: 1000px;
   height: 600px; 
}
.cb-slideshow,
.cb-slideshow:after { 
    position: relative;
    width: 1000px;
    height: 600px; 
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: rgba(97,174,212,0.3);
    background: -moz-linear-gradient(top, rgba(97,174,212,0) 2%, rgba(73,155,234,0) 26%, rgba(73,155,234,0) 29%, rgba(73,155,234,0.25) 68%);
    background: -webkit-gradient(left top, left bottom, color-stop(2%, rgba(97,174,212,0)), color-stop(26%, rgba(73,155,234,0)), color-stop(29%, rgba(73,155,234,0)), color-stop(68%, rgba(73,155,234,0.25)));
    background: -webkit-linear-gradient(top, rgba(97,174,212,0) 2%, rgba(73,155,234,0) 26%, rgba(73,155,234,0) 29%, rgba(73,155,234,0.25) 68%);
    background: -o-linear-gradient(top, rgba(97,174,212,0) 2%, rgba(73,155,234,0) 26%, rgba(73,155,234,0) 29%, rgba(73,155,234,0.25) 68%);
    background: -ms-linear-gradient(top, rgba(97,174,212,0) 2%, rgba(73,155,234,0) 26%, rgba(73,155,234,0) 29%, rgba(73,155,234,0.25) 68%);
    background: linear-gradient(to bottom, rgba(97,174,212,0) 2%, rgba(73,155,234,0) 26%, rgba(73,155,234,0) 29%, rgba(73,155,234,0.25) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61aed4', endColorstr='#499bea', GradientType=0 );
}
ul {
    margin:0;
    list-style: none;
}
.cb-slideshow li .cb-slideImg { 
    width: 1000px;
    height: 600px; 
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideList:nth-child(1) .cb-slideImg { 
    background-image: url(img/1.png) 
}
.cb-slideList:nth-child(2) .cb-slideImg { 
    background-image: url(img/2.png);
    animation-delay: 6s; 
}
.cb-slideList:nth-child(3) .cb-slideImg { 
    background-image: url(img/3.png);
    animation-delay: 12s; 
}
.cb-slideList:nth-child(4) .cb-slideImg { 
    background-image: url(img/1.png);
    animation-delay: 18s; 
}
.cb-slideList:nth-child(5) .cb-slideImg { 
    background-image: url(img/2.png);
    animation-delay: 24s; 
}
.cb-slideList:nth-child(6) .cb-slideImg { 
    background-image: url(img/3.png);
    animation-delay: 30s; 
}
.greenLogoPart {
    color: #a8bd33;
}
.blueLogoPart {
    color: #61aed4;
}
.headerParaContainer {
    float:right;
    height: 226px;
    width: 500px;;
    background-color: rgba(77, 75, 84, 0.85);
    position: relative;
    top: 339px;
    left: -40px;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerParaContainer p {
    margin: 15px;
    color: white;
    text-align: center;
}
.headerParaContainer h1 {
    text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
    color:white;
    margin:0;
    font-size: 30px;
}
.headerParaButton {
    width: 140px;
    height: 40px;
    border: none;
    z-index: 20;
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    background-color: #a8bd33;
    cursor: pointer;
} 
.headerParaButton:hover {
    background-color: #22af15;
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-out; }
    8% { opacity: 1; animation-timing-function: ease-in; }
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
article {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    position: relative;
}
.tringle {
    position: absolute;
    left:480px;
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid lightgrey;
}
.biogazInfo {
    height: 400px;
    width: 400px;
}
.biogazInfo h2 {
    text-align: center;
}
article img {
    width: 350px;
    height: 350px;
    margin: 100px;
}
section {
    position: relative;
    background-image: url(img/grass2.jpg);
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.coverSection {
    width: 100%;
    height: 100%;
    display: flex;
}
.localKeeper {
    width: 45%;
    display: flex;
    align-items: center;
}
section .localKeeper ul {
    color:white;
}
.iframeLocal {
    height: 350px;
    width: 90%;
    margin-left: 5%;
    background-color: rgba(77, 75, 84, 0.85);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
}
.iframeLocal ul {
   display: flex;
   align-items: center;
   flex-direction: column; 
}
.footerInfo {
    display: flex;
    margin-bottom: 20px;
    background-color: white;
}

.coverFooter {
    background-color: white;
    width: 90px;
    height: 60px;
    position: relative;
    left: 235px;
}
.footerLogo {
    width: 80%;
    height: 75px;
    background-image: url('img/newLogo.png');
    background-repeat: no-repeat;
    background-position: -68px -35px;
    background-size: 280%;
}
.formSpaceDiv {
    margin-top: 4%;
}
footer {
    margin-top: 20px;
}
.formKeeper {
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formButton {
    floaT: right;
    margin-top: 5px;
    margin-right: 5px;
    width: 140px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    background-color: #a8bd33;
    cursor: pointer;
}
.formButton:hover {
    background-color: #22af15;
}
form {
    margin-top: 3%;
    width: 80%;
}
textarea {
    margin-top: 2%;
    outline-color: #61aed4;
    width: 95%;
    padding-left: 5px;
}
.footerInfoText {
    text-align: center;
    margin: 3%;
}
.error {
    color:red;
    font-weight: 700;
}
.holderColor::-webkit-input-placeholder {
  color:black;
}
.holderColor::-moz-placeholder {
  color:black;
}
.holderColor::-ms-input-placeholder{
  color:black;
}
.holderColor:focus::-webkit-input-placeholder {
  color:grey;
}
.holderColor:focus::-moz-placeholder {
  color:grey;
}
.holderColor:focus::-ms-input-placeholder{
  color:grey;
}
.correctMsg {
    font-size: 23px;
    color: green;
}
.formText {
    width: 95%;
    height: 40px;
    margin-top: 2%;
    outline-color: #61aed4;
    padding-left: 5px;
}
.reserved {
    width: 1000px;
    height: 64px;;
    background-image: url('img/grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.coverReserved {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 2px;
   font-size: 20px;
   color:white;
}
.textReserved {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 278px;
    border-radius: 25px;
    background-color: rgba(77, 75, 84, 0.8);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}